.rating-stars .star {
  font-size: 24px;
  color: gold;
}

.rating-stars .empty {
  color: gray;
}

.rating-stars .half {
  font-size: 24px;
  background: linear-gradient(to right, gold 50%, gray 50%);
  background-clip: text;
  /* Standart */
  -webkit-background-clip: text;
  /* Chrome/Safari */
  color: transparent;
  -webkit-text-fill-color: transparent;
}